{{ template "base" . }}

<!DOCTYPE html>
<html>

<style>
  #cancel, #back {
    background-color: #fff;
    border: solid 1px #fff;
    color: #47CF73;
    text-align: center;
    cursor: pointer;
  }

  #cancel :hover, #back :hover {
    border-color: #ddd;
    background-color: #ddd;
  }

  .display-pwd-on2 {
    font-size: x-large;
    font-weight: bold;
    color: black;
    margin-top: 0;
    text-align: right;
  }
</style>

<body>
  <h2 style="text-align: center;">パスワード再設定</h2>
  <div class="container">
    <!-- アラートの表示 -->
    <p class="error"></p>
    <p class="success"></p>

    <form id="PasswordResetForm">
      <!-- メールアドレスの入力エリアの表示 -->
      <div id="address-form" class="form-group" style="margin-top: 15px;">
        <p>パスワードを再設定します。メールアドレスをご入力後、「次へ」ボタンをクリックしてください。</p>
        <input id="address" type="text" name="address" placeholder="メールアドレス" required>
      </div>

      <!-- 新しいパスワードの入力エリアの表示 -->
      <div id="password-form" class="form-group">
        <p>新しいパスワードをご入力いただき、「設定」ボタンをクリックしてください。</p>
        <div style="position: relative;">
          <input id="password" type="password" name="password" placeholder="新しいパスワード" required>
          <div class="display-pwd-on-parent">
            <span class="material-symbols-outlined display-pwd-on" onclick="togglePasswordVisibility()">
              visibility_off
            </span>
          </div>
          <p class="li-label">
            半角英数・記号：8～16文字
          </p>
          <p style="color: #646464;font-size: small;margin-top: -10px;float: left;">
            使用できる記号：「! # $ % & = ~ ^ | @ < > ? + * / _ ; : -」
          </p>
        </div>
        <div style="position: relative;">
          <input id="password2" type="password" name="password" placeholder="新しいパスワード（確認）" required>
          <div class="display-pwd-on-parent">
            <span class="material-symbols-outlined display-pwd-on2">
              visibility_off
            </span>
          </div>
        </div>
      </div>
      <button id="next" class="btn" style="display: block;margin: 17px auto 0 auto;" type="submit">
        次へ
      </button>
      <button id="cancel" class="btn" style="display: block;margin: 17px auto 0 auto;" type="button">
        キャンセル
      </button>
      <button id="setting" class="btn" style="display: block;margin: 17px auto 0 auto;" type="submit">
        設定
      </button>
      <button id="back" class="btn" style="display: block;margin: 17px auto 0 auto;" type="button">
        戻る
      </button>

      <!-- ローディングオーバーレイ -->
      <div id="loadingOverlay">
        <div class="loader"></div>
      </div>
    </form>
  </div>

  <script>
    // ページ読み込み時の処理
    $(document).ready(function () {
      $("#password-form").hide()
      $("#setting").hide()
      $("#back").hide()
    })

    $(document).on("click", ".display-pwd-on2", function () {
      var passwordField = document.getElementById("password2");
      var passwordToggleBtn = document.querySelector(".display-pwd-on2");

      if (passwordField.type === "password") {
        passwordField.type = "text";
        passwordToggleBtn.textContent = "visibility";
      } else {
        passwordField.type = "password";
        passwordToggleBtn.textContent = "visibility_off";
      }
    })

    // キャンセルボタンがクリックされたときの処理
    $(document).on("click", "#cancel", function () {
      // ログインフォームを表示
      window.location.href = "/login";
    })

    // 次へボタンがクリックされたときの処理
    $(document).on("click", "#next", function () {
      $("#address-form").hide()
      $("#password-form").show()
      $("#next").hide()
      $("#cancel").hide()
      $("#setting").show()
      $("#back").show()
    })

    // 戻るボタンがクリックされたときの処理
    $(document).on("click", "#back", function () {
      $("#address-form").show()
      $("#password-form").hide()
      $("#next").show()
      $("#cancel").show()
      $("#setting").hide()
      $("#back").hide()
    })

    // 設定ボタンがクリックされたときの処理
    $("#PasswordResetForm").submit(function (e) {
      e.preventDefault();

      // フォームデータをAjaxで送信する関数
      var formData = $("#PasswordResetForm").serialize();
      $.ajax({
        type: "PUT",
        url: "/password",
        data: formData,
        beforeSend: function() {
          // ローディングオーバーレイを表示
          $("#loadingOverlay").show();
        },
        success: function (response) {
          // ログインフォームを表示
          window.location.href = "/login";
        },
        complete: function() {
          // ローディングオーバーレイを非表示
          $("#loadingOverlay").hide();
        },
        error: function (xhr, status, error) {
            // エラーの場合はエラーメッセージを表示
            $(".error").text(xhr.responseJSON.Error);
        }
      });
    });
  </script>
</body>

</html>
